.droppable-cell{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:white;
    overflow: visible;
  }

  .dragable-image{
    z-index: 10;
    max-width: 200px;
    max-height: 200px;
    cursor: grab;
    overflow: visible;
    padding:13px;
    border: solid 5px rgb(97, 36, 36);
    margin: 0 3px 0 3px;

  }

  .image-hold{
    display: flex;
    flex-direction: row;
    background-color:transparent;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 5px;
    border-radius: 10px;
  }

  .grid-container{
    display: grid;
    grid-template-columns: repeat(80, 20px);
    gap: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .remove-btn{
    position: absolute;
    right:0;
    top:0;
    color: transparent;
    border:none;
    background-color: transparent;
    font-size: 20px;
    margin: 0 10px 0 0;
  }

  .remove-btn:hover{
    color:rgb(0, 0, 0);
  }

  .remove-btn:active{
    color:rgb(196, 3, 3);
  }

  .dragable-el{
    overflow: visible;
    z-index: 10;
    position: relative;
  }