body {
  display: flex;
  background: linear-gradient(90deg, lightblue 0%, lightgrey 100%);
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: grey;
  margin: 5px -10px 5px -10px;
  gap: 10px;
}

.nav-btn {
  font-family: "Copperplate";
  font-size: 20px;
  border: none;
  margin: 5px;
  padding: 5px 10px 5px 10px;
  border-radius: 0.25rem;
  color: white;
  background-color: transparent;
}

.nav-btn:hover {
  box-shadow: 1px 1px 1px 1px rgb(0 0 0/20%);
}

.header {
  font-family: "Copperplate";
  font-size: 70px;
  text-align: center;
  background-color: aliceblue;
  margin: -10px;
  padding: 10px;
}
