.details-container{
  width: auto;
  height: auto;
}

.details-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.image-container{
  width:500px;
  height: 500px;
  flex:reverse row;
  position: relative;
}

.detail-image {
  width:100%;
  height: 100%;
}

#save-btn{
  position: absolute;
  bottom: 0%;
  right: 0;
  background-color: transparent;
  border: none;
  margin: 10px;
  color: rgb(0,0,0,0.5) ;
  padding: 5px 10px 20px 10px;
  height: 45px;
  border-radius: 50px;
  align-items: center;
  border: 2px solid black;
  }

  #save-btn:hover{
    color: rgb(134, 134, 139) ;
    }

    #save-btn:active{
     box-shadow: 5px 5px 5px white;
     background-color: rgb(134, 134, 139) ;
    }


#save-btn img {
  height: 40px;
  color: rgb(145, 8, 8);
  padding: 5px;
  border: 1px solid black;
  margin: 5px;
}

